@use 'base';
@use 'AboutPage';

$dis: base.$spacing;
$fullRowViewWidth: AboutPage.$fullTechView;
$bigMarginsWidth: 500px;

.licenses {
    width: 100%;
    margin: 1*$dis;
    padding-top: 2*$dis;
}

.iconsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media (max-width: $fullRowViewWidth - 1) {
        justify-content: center;
        margin-bottom: 5*$dis;
    }
    @media (min-width: $fullRowViewWidth) {
        margin-left: 5*$dis;
    }
}

.iconDefaultHeight {
    height: 40px;
}

.iconMarginLeft {
    @media (min-width: $bigMarginsWidth) {
        margin-left: 5*$dis;
    }
    @media (max-width: $bigMarginsWidth - 1) {
        margin-left: 3*$dis;
    }
}

.mediumSize {
    @media (min-width: $bigMarginsWidth) {
        height: 40px;
    }
    @media (max-width: $bigMarginsWidth - 1) {
        height: 35px;
    }
}

.smallSize {
    @media (min-width: $bigMarginsWidth) {
        height: 32px;
        margin-top: 4px;
        margin-bottom: 4px
    }
    @media (max-width: $bigMarginsWidth - 1) {
        height: 24px;
    }
}

.reactIconSize {
    height: 54px;
    margin-top: -7px;
    margin-bottom: -7px;
    margin-right: -15px;
    margin-left: -15px;
}

.djangoIconSize {
    height: 50px;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-right: -8px;
}

.pythonRemoveRightSpace {
    margin-right: -18px; // -10 for python and -8 for Django
    margin-bottom: -4px;
}

.techInfoText {
    display: flex;
    @media (min-width: $fullRowViewWidth) {
        flex-direction: row-reverse;
    }
    @media (max-width: $fullRowViewWidth - 1) {
        justify-content: center;
        align-items: center;
    }
}
