@use '../styles/base';

$dis: base.$spacing;
$mediumScreen: base.$mediumScreen;
$bigScreen: base.$bigScreen;
$biggerScreen: 720px;
$fullTechView: 1040px;
$socialButtonSize: 46px;

@mixin centeredFlex($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

.root {
  @include centeredFlex(column);
  width: 100%;
  @media (min-width: $mediumScreen) {
    padding: 0 * $dis 2 * $dis;
  }
  @media (max-width: $mediumScreen - 1) {
    padding: 0 * $dis 1 * $dis;
  }
}

.verticalSpace {
  margin-top: 1 * $dis;
}

.paperTop {
  @include centeredFlex(column);
  width: 100%;
  @media (min-width: $bigScreen) {
    padding: 0.5 * $dis 2 * $dis;
  }
  @media (max-width: $bigScreen - 1) {
    @media (min-width: $mediumScreen) {
      padding: 0.5 * $dis 1 * $dis;
    }
  }
  @media (max-width: $mediumScreen - 1) {
    padding: 0.5 * $dis 0 * $dis;
  }
}

.paper {
  @include centeredFlex(column);
  @media (min-width: $bigScreen) {
    padding: 0.5 * $dis 3 * $dis;
  }
  @media (max-width: $bigScreen - 1) {
    padding: 0.5 * $dis 2 * $dis;
  }
}

.creatorPaper {
  @include centeredFlex(column);
  padding: 1 * $dis 0 * $dis;
}

.maxWidth400 {
  width: 100%;
  max-width: 400px;
}

.minWidth400 {
  @media (min-width: 550px) {
    min-width: 400px;
  }
  @media (max-width: 549px) {
    width: 100%;
  }
}

.box {
  @media (max-width: 549px) {
    width: 100%;
  }
  max-width: 650px;
  margin: 0 * $dis 2 * $dis 2 * $dis 2 * $dis;
}

.box2 {
  @include centeredFlex(column);
  width: 100%;
  max-width: 650px;
  margin: 3 * $dis 2 * $dis 2 * $dis 2 * $dis;
}

.techBox {
  @media (max-width: 549px) {
    width: 100%;
  }
  @media (max-width: $fullTechView - 1) {
    max-width: 650px;
  }
  @media (min-width: $fullTechView) {
    max-width: 1000px;
  }
  margin: 0 * $dis 2 * $dis 2 * $dis 2 * $dis;
}

.supportExpandedBox {
  width: 100%;
  max-width: 650px;
  margin: 0 * $dis 2 * $dis 2 * $dis 2 * $dis;
}

.flexColumn {
  @include centeredFlex(column);
  width: 100%;
}

.expandedDiv {
  @include centeredFlex(column);
  width: 100%;
  padding: 1 * $dis 0;
}

.textAlign {
  @media (max-width: $bigScreen - 1) {
    text-align: center;
  }
}

.title {
  @include centeredFlex(column);
  min-height: 48px;
}

.topLeft {
  position: absolute;
  top: 8 * $dis;
  left: 2 * $dis;
}

.rowFlexCenter {
  @include centeredFlex(row);
}

.rowFlexCenterSpaceApart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 330px;
  width: 100%;
}

.creatorImgBox {
  @include centeredFlex(column);
  width: 100%;
  margin: 1 * $dis 0 * $dis;
}

.darkerBackground {
  background-color: #292929;
}

.creatorImage {
  width: 75%;
  max-width: 300px;
}

.roundedCorners {
  border-radius: 5%;
}

.noPadding {
  padding: 0 !important;
}

.starIcon {
  margin: {
    left: 4px;
    right: 4px;
  }
}

.adjustTextForStar {
  display: flex;
  align-items: center;
}

@mixin socialButtonDimensions {
  @include centeredFlex(column);
  height: $socialButtonSize;
  width: $socialButtonSize;
  border-radius: 50%;
}

.socialButton {
  @include socialButtonDimensions;
}

.linkedInSocialButton {
  @include socialButtonDimensions;
  background-color: #2867b2; //#0069bb
}

.githubSocialBug {
  width: $socialButtonSize;
  height: $socialButtonSize;
}

.linkeidInSocialBug {
  margin: 0.75 * $dis 0.75 * $dis 1 * $dis 1 * $dis;
  width: 24px;
  height: 24px;
}

.usageImg {
  width: 100%;
  margin-bottom: 1 * $dis;
  @media (min-width: $biggerScreen) {
    margin-left: 4 * $dis;
    max-width: 50%;
  }

  @media (max-width: $biggerScreen - 1) {
    max-width: 315px;
  }
}

.topBarImg {
  max-height: 44px;
}

.usagePart {
  @media (min-width: $biggerScreen) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  @media (max-width: $biggerScreen - 1) {
    @include centeredFlex(column);
  }
  margin-bottom: 4 * $dis;
}

.usagePart:last-child {
  margin-bottom: 0;
}

.usageBox {
  display: flex;
  flex-direction: column;
}

.usageText {
  @media (min-width: $biggerScreen) {
    max-width: 50%;
  }
}
